Package: com.TweaksByLogan.VolumeSlider
Name: VolumeSlider
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: A modern, unobtrusive volume slider!
Maintainer: Logan O'Connell
Author: Logan O'Connell
Section: Tweaks
